{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <script src="{% static 'js/yourvocab.js' %}"></script>

    <p class="h2"> {{ course.name }}</p>

    <p class="h3"> {{ lesson.name }}</p>

    <form method="post" id = 'test_form' onsubmit="return submitForm(false, false);">
        <p class="h4" id="Question"> Question {{ question_index }} out
            of {{ questions_count }}. {{ qa.question_text }}</p>

        {% csrf_token %}
        <div id="RespondingPart">
            <div class="my-2">
            {% for s in course.helper_symbols %}
                <button class="d-inline-block btn btn-outline-primary" onclick="$('#answer_field').val($('#answer_field').val() + '{{ s }}'); return false;">{{ s }}</button>
            {% endfor %}
            </div>
            <p>Answer: <input name="answer" type="text" id="answer_field"/></p>
            <div><a href="#" onclick="return submitForm(true, false);">Show right answer</a></div>
            <button class='btn btn-primary' type="submit">Submit</button>
            <div><p id="mistake_field" style="display: none;">Wrong answer. Try again or press 'Show answer'.</p></div>
        </div>
        <div id="hint_row" style="display: none;">
            <p id="hint_field"></p>
            <button class='btn btn-primary' type="button" onclick="return submitForm(false, true)">Next</button>
        </div>
        <div><p id="score_field">Initial score: 0. Good luck!</p></div>
    </form>

{% endblock content %}
