{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5">What YourVocab can offer?</h1>
    <ul >
    <li>Load any list of words from any source</li>
    <li>Use our test system to nail them up</li>
    <li>Edit everything: words, translations, helper special symbols lists, award scheme ...</li>
    <li>Get statistics abour your learning</li>
    </ul>

    <h3>Register to start!</h3>
    <p>We only need your email and a nickname...</p>
    <a class="btn btn-primary" href="/signup">Register</a>
{% endblock %}