{% extends 'base.html' %}

{% block content %}

<p class="h2"> {{ course.name }}</p>

<p class="h3"> {{ lesson.name }}</p>

<div class="col-md-8">
    <p class="col-md-8">Lesson was attended {{ lesson.attendance_count}} times</p>
</div>

<div class="col-md-8">
    {% for q_a in qa %}
        <div>
            <p>Question: {{ q_a.question_text }}</p>
            <p>Answer: {{ q_a.answer_text }}</p>
            <p>Mistakes were made {{ q_a.mistakes_count }} times</p>
        </div>
    {% endfor %}
</div>

<div class="row">

{% if qa.count > 0 %}
<div class="col-md-8">
    <a href="/course/{{ course.id }}/lesson/{{ lesson.id }}/check" class="btn btn-primary">Run lesson</a>
</div>
{% endif %}

<div class="col-md-8">
    <a href="" class="btn btn-primary">Edit lesson</a>
</div>
</div>
{% endblock content %}
