{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <form action="" method="post">
                    {% csrf_token %}
                    <table class="table">
                    {{ form.as_table }}
                    </table>
                    <input class='btn btn-primary' type="submit" value="Create" />
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}