{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {{ form.source.errors }}
                    {{ form.source }}

                    <table>

                        <tr>
                            <th>{{ form.name.label_tag }}</th>
                            <td>
                                {{ form.name.errors }}
                                {{ form.name }}
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>{{ form.questions.label_tag }}</th>
                            <th>{{ form.answers.label_tag }}</th>
                        </tr>

                        <tr>
                            <td>
                                <div class="text-center">
                                    {% for s in helper_symbols %}
                                        <button class="d-inline-block btn btn-outline-primary"
                                                onclick="insert_symbol(editor, '{{ s }}'); return false;">{{ s }}
                                        </button>
                                    {% endfor %}
                                </div>
                                {{ form.questions.errors }}
                                <div id="editor_questions">{{ form.questions }}</div>
                                <div style="display: none;">{{ form.questions }}</div>
                            </td>
                            <td>
                                <div class="text-center">
                                    {% for s in helper_symbols %}
                                        <button class="d-inline-block btn btn-outline-primary"
                                                onclick="insert_symbol(editor2, '{{ s }}'); return false;">{{ s }}
                                        </button>
                                    {% endfor %}
                                </div>
                                {{ form.answers.errors }}
                                <div id="editor_answers">{{ form.answers }}</div>
                                <div style="display: none;">{{ form.answers }}</div>
                            </td>
                        </tr>
                    </table>
                    <input class='btn btn-primary' type="submit" value="Save"/>
                </form>
                </p>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'js/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor_questions");
        editor.session.setMode("ace/mode/text");
        editor.getSession().on("change", function () {
            $("#{{ form.questions.auto_id }}").val(editor.getSession().getValue());
        });

        var editor2 = ace.edit("editor_answers");
        editor2.session.setMode("ace/mode/text");
        editor2.getSession().on("change", function () {
            $("#{{ form.answers.auto_id }}").val(editor2.getSession().getValue());
        });
    </script>

{% endblock %}